SPRING_PROFILES_ACTIVE=supabase

# Supabase Session pooler
SPRING_DATASOURCE_URL=jdbc:postgresql://aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require
SPRING_DATASOURCE_USERNAME=postgres.TU_PROJECT_REF
SPRING_DATASOURCE_PASSWORD=tu_password

# CORS (coma separada). Render: https://tu-frontend.onrender.com,http://localhost:4200
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://localhost
